html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

body {
    display: flex;
    justify-content: center;
    color: #555;
    background: url(./images/iStock-187501302_javarman3.jpg.4374134.jpg);
}

.profile {
    width: 900px;
    background-color: #f6f6f6;
    margin: 100px;
    border-radius: 40px;
    box-shadow: 13px 13px 20px rgb(0, 0, 0);
    padding: 60px 35px 35px 35px;
    transition: width 1s;
}

.profile:hover {
    width: 1000px;
}

@media (max-width: 425px) {
    .profile {
        width: 400px;
        margin: 30px 12.5px 30px 12.5px;
    }
}

.img {
    background-image: url(./images/IMG_20201201_190217_289.jpg);
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 55%;
    border: 5px solid #042379c2;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 13px 13px 20px rgb(184, 184, 184), -13px -13px 20px #fff;
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 29, 110, 0.4);
    }
    70% {
        box-shadow: 0 0 0 20px rgba(0, 48, 151, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 47, 134, 0);
    }
}

.name {
    width: 33.33%;
    text-align: center;
    font-size: 25px;
    padding-top: 24px;
    border-radius: 25px;
    box-shadow: inset -8px -8px 8px #fff, inset 8px 8px 8px rgb(184, 184, 184);
    padding-bottom: 10px;
    padding-top: 10px;
    color: #080808d7;
    margin: 0 auto;
    transition: width 3s;
}

.name:hover {
    box-shadow: 13px 13px 20px rgb(184, 184, 184), -13px -13px 20px #fff;
}

@media (max-width: 930px) {
    .name {
        width: 95%;
    }
}

.biography {
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    border-radius: 25px;
    padding: 18px;
    color: #080808d7;
    word-break: break-all;
}

.contact {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    width: 60%;
    margin: 0 auto;
    padding-top: 0px;
}

.social {
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: rgb(227, 230, 238);
    border-radius: 50%;
    justify-content: center;
    margin: 0 auto;
    box-shadow: -8px -8px 8px #fff, 8px 8px 8px rgb(184, 184, 184);
}

#website {
    margin-top: 15px;
}

#phone {
    margin-top: 12px;
}

#contacts-show{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
    border-radius: 20px;
    box-shadow: 13px 13px 20px rgb(184, 184, 184), -13px -13px 20px #fff;
}

.social:hover{
    box-shadow: 13px 13px 20px rgb(184, 184, 184), -13px -13px 20px #fff;
}

